@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;
@use "../6_queries/queries" as *;
@use "../1_base/colors" as *;

.board-container {
  // background-color: blue;
  height: 28em;
}

.board {
  // background-color: pink;
  margin: 0 auto;
  width: 22em;
  height: 22em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.placeholder {
  @include flex(0, center, center);
}

.final-container {
  @include flex(0, center, center);
  flex-direction: column;
}

.winner-message {
  @include flex(0, center, center);
  margin: 2em auto;
  font-size: 1.3em;
  width: 100%;
}
