@use "../1_base/colors" as *;
@use "../1_base/typography" as *;
@use "../2_utils/functions" as *;

button {
  margin: 0 auto;
  background-color: transparent;
  border: 0.2em solid #33363C;
  color: #33363C;
  font-weight: weight(bold);
  font-size: 0.9em;
  padding: 0.5em;
  width: 6em;
  height: 2.8em;
  z-index: 6;

  &:hover {
    background-color: #33363C;
    color: #fdfcfa;
  }
}

