@use "../1_base/colors" as *;
@use "../1_base/typography" as *;
@use "../2_utils/functions" as *;

button {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  font-weight: weight(bold);
  padding: 0.5em;

  &:hover {
    background-color: black;
  }
}

