@use "../2_utils/mixins" as *;
@use "../6_queries/queries" as *;
@use "../1_base/colors" as *;

.main-container {
  @include flex(column, 0, 0);
  background-color: $yellow_400;
  width: 100vw;
  height: 100vh;
}
